target/
.git/
*.md
mvnw
mvnw.cmd
.mvn/
gradlew
gradlew.bat
gradle/wrapper/
.idea/
.vscode/
*.iml
.DS_Store
*.log
*.tmp
*.swp
node_modules/
npm-debug.log
.classpath
.project
.settings/
migration-bundle/
k8s/
docs/
scripts/
kubernetes/
