target/
.git/
*.md
mvnw
mvnw.cmd
.mvn/
gradlew
gradlew.bat
gradle/wrapper/
.idea/
.vscode/
*.iml
.DS_Store
*.log
*.tmp
node_modules/
npm-debug.log*
.env
.env.*
migration-bundle/
k8s/
docs/
scripts/
kubernetes/
